beautifulsoup4==4.13.4
black==25.1.0
certifi==2025.7.14
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.2.1
curl_cffi==0.12.0
distlib==0.4.0
filelock==3.18.0
frozendict==2.4.6
identify==2.6.12
idna==3.10
isort==6.0.1
multitasking==0.0.12
mypy_extensions==1.1.0
nodeenv==1.9.1
numpy==2.3.1
packaging==25.0
pandas==2.3.1
pathspec==0.12.1
peewee==3.18.2
platformdirs==4.3.8
pre_commit==4.2.0
protobuf==6.31.1
pycparser==2.22
pyright==1.1.403
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
ruff==0.12.4
six==1.17.0
soupsieve==2.7
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.31.2
websockets==15.0.1
yfinance==0.2.65
